<a href="https://colab.research.google.com/github/sandywuwuwu/Introduction-to-computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
i = range(5)
print(type(i))
print(i)
print(list(i))

<class 'range'>
range(0, 5)
[0, 1, 2, 3, 4]

In [5]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [6]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [9]:
c = range(3,8,1)
d = range(3,8,2)
e = range(8,3,-1)
print(list(c))
print(list(d))
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [13]:
f = range(9)
g = range(1,10)
h = range(1,10,2)
i = range(10,1,-2)
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [14]:
for n in range(10):
  print(n,end=',')

0,1,2,3,4,5,6,7,8,9,

In [17]:
for n in range(0,10,2):
  print(n,end=',')

0,2,4,6,8,

In [26]:
W=int(input('請輸入一個正整數'))
for W in range(1,W+1):
  print(W,end=' ')

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [37]:
sum = 0
for n in range(3):
  sum=sum+n
print(sum)

3

In [36]:
sum = 0
for i in range(10,1,-2):
  sum=sum+i
print(sum)

30

In [43]:
W=int(input('請輸入一個正整數'))
sum = 0
for W in range(1,W+1):
  sum=sum+W
print(sum)

請輸入一個正整數50
1275

In [58]:
W=int(input('請輸入一個正整數'))
sum = 0
for W in range(1,W+1):
  sum=sum+W
  print('1'+'到'+str(W)+'的整數和為'+str(sum))

請輸入一個正整數10
1到1的整數和為1
1到2的整數和為3
1到3的整數和為6
1到4的整數和為10
1到5的整數和為15
1到6的整數和為21
1到7的整數和為28
1到8的整數和為36
1到9的整數和為45
1到10的整數和為55