<a href="https://colab.research.google.com/github/sandywuwuwu/Introduction-to-computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(123)

123

In [2]:
i = 0
result = 0
while i <=50:
  if i %2 == 0:
    result += i
  i+=1
print('0-50的偶數和結果是%d' % result)

0-50的偶數和結果是650

In [3]:
i = 0
result = 0
while i <=50:
  if i %2 != 0:
    result += i
  i+=1
print('0-50的基數和結果是%d' % result)

0-50的基數和結果是625

In [5]:
n = int(input('請輸入正整數'))
for i in range(1,n+1):
  for j in range(i,n+1):
    print('*',end='')
  print()

請輸入正整數7
*******
******
*****
****
***
**
*

In [6]:
sum = 0
for i in range(0,101):
  if(i%3==0 or i%7==0):
    sum+=i
print('數值1-100中,所有是3或7倍數的數之總和=',sum)

數值1-100中,所有是3或7倍數的數之總和= 2208

In [11]:
p=1
counter=0
n = int(input('請輸入正整數'))
print(n,'的因數有',end='')
while(p<=n):
  if(n%p==0):
    print(p,end='')
    counter+=1
  p+=1

print()
if (counter==2):
  print(n,'不是質數')
else:
  print(n,'不是質數')

請輸入正整數3
3 的因數有13
3 不是質數

In [13]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [14]:
list2 = ['香蕉','蘋果','橘子']
list2

['香蕉', '蘋果', '橘子']

In [15]:
list3 = [1,'香蕉',True]
list3

[1, '香蕉', True]

In [16]:
print(list1)

[1, 2, 3, 4, 5]

In [18]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [19]:
print(list1[0])

1

In [20]:
list4 = ['香蕉','蘋果','橘子']

In [21]:
print(list4[1])

蘋果

In [22]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [23]:
print(list4[3])

IndexError: ignored

In [24]:
print(list4[-1])

橘子

In [25]:
print(list4[-2])

蘋果

In [26]:
print(list4[-3])

香蕉

In [28]:
print(list4[-4])

IndexError: ignored

In [33]:
list5=[['tom','1234']],['mary','abcd'],['david','5678']
print(list5[1])
print(list5[0])
print(list5[1][1])
print(list5[0])
print(list5[0][0])
print(list5[0][0])
print(list5[1][0])

['mary', 'abcd']
[['tom', '1234']]
abcd
[['tom', '1234']]
['tom', '1234']
['tom', '1234']
mary

In [39]:
scores = [85,79,93]
print('國文成績:%d分' % scores[0])
print('數學成績:%d分' % scores[1])
print('英文成績:%d分' % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [45]:
list6 = [1,2,3,4,5]
print(list6[0])

1

In [46]:
list6[0]=9
print(list6)

[9, 2, 3, 4, 5]

In [47]:
list7=['香蕉','蘋果','橘子']

In [48]:
for s in list7:
  print(s,end=',')

香蕉,蘋果,橘子,

In [58]:
items = ['123','apple','True']
for item in items:
  print(item)

123
apple
True

In [59]:
scores=[85,79,93]
print(len(scores))

3

In [60]:
scores=[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [66]:
scores=['國文成績:85分','數學成績:79分','英文成績:93分']
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [68]:
scores=['編號:1姓名:Tom','編號:2姓名:Mary','編號:3姓名:Tony']
for a in range(len(scores)):
  print(scores[a])

編號:1姓名:Tom
編號:2姓名:Mary
編號:3姓名:Tony